body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
  }
  
  header {
    color: white;
    background-color: #00468d;
    padding: 0.9em;
  }

  #viz{
    height: 30vh;
  }
  
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1em;
    row-gap: 1em;
    background-color: #00468d;
    color: white;
    padding: 1em;
  }
  
  nav a {
    padding: 0.8em;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1em;
  }
  
  nav a:hover{
    color: black;
    background-color: #f2cf00;
  }
  
  h1,h2,p {
    text-align: center;
  }
  
 main section {
    color: black;
    background-color: #f1da56;
    padding: 1.5em;
    margin-top: 0.5em;
  }
  
 main section {
    display: flex;
    flex-direction: column;
    gap:0.5em;
  }

  textarea{
    height: 10vh;
  }
  
  input[type="button"]{
    padding: 0.5em;
  }